{% macro sections(sections) %}
    {% import _self as macros %}
    {% for section in sections %}
      <a id="{{ section.id }}" href="#{{ section.id }}"></a>
      {{ section.content }}
      {% if section.sections is not empty %}
        {{ macros.sections(section.sections) }}
      {% endif %}
    {% endfor %}
{% endmacro %}

{% import _self as macros %}

{% include "@cells/header/header.twig" %}
<main
	class="container mx-auto my-4 px-2">
	{% include "@organisms/plan/section-list.twig" with {
    wrapper_classes: [
      'block',
      'md:hidden',
  ]} %}
	<section
		class="flex justify-between">
		<div
			class="w-full md:w-2/3">
			<section
				class="flex flex-col-reverse md:flex-row justify-between">
				<article>
          {{ macros.sections(sections) }}
				</article>
			</section>
		</div>
		{% include "@organisms/plan/section-list.twig" with {
      wrapper_classes: [
        'hidden',
        'md:block',
        'overflow-y-auto',
        'sticky',
        'top-10',
        'max-h-(screen-16)',
      ]} %}
	</section>
</main>
{% include "@cells/footer/footer.twig" %}
