<div class="flex flex-wrap">
    <div class="px-2 w-full relative">
        <h3 class="markdown no-toc mb-4 mt-8" id="black-white"><a class="anchorjs-link text-gray-500 no-underline"
                aria-label="Anchor" data-anchorjs-icon="#" href="#black-white"
                style="position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>Black &amp; White</h3>
        <div class="-mx-2 -mt-5 flex flex-wrap">
            <div class="w-1/2 md:w-1/3 px-2">
                <div class="flex items-center mt-5">
                    <div class="h-12 w-12 rounded-lg shadow-inner bg-black"></div>
                    <div class="ml-2 text-gray-800 leading-none pl-1">
                        <div class="font-semibold">black</div>
                    </div>
                </div>
            </div>
            <div class="w-1/2 md:w-1/3 px-2">
                <div class="flex items-center mt-5">
                    <div class="h-12 w-12 rounded-lg shadow-inner bg-white"></div>
                    <div class="ml-2 text-gray-800 leading-none pl-1">
                        <div class="font-semibold">white</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for color in colors %}
    <div class="w-1/2 px-2 md:w-full relative mt-4">
        <h3 class="mb-4 mt-8 capitalize" id="{{ color }}"><a class="anchorjs-link text-gray-500 no-underline"
                aria-label="Anchor" data-anchorjs-icon="#" href="#{{ color }}"
                style="position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>{{ color }}</h3>
        <div class="md:-mx-2 md:-mt-5 md:flex md:flex-wrap">
            {% for weight in weights %}
                <div class="md:w-1/3 md:px-2">
                    <div class="flex items-center mt-5">
                        <div class="h-12 w-12 rounded-lg shadow-inner bg-{{ color }}-{{ weight }}"></div>
                        <div class="ml-2 text-gray-800 leading-none pl-1">
                            <div class="font-semibold">{{ color }}-{{ weight }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>