{% set wrapperClasses = wrapperClasses|default([
    "flex",
    "flex-wrap",
    "flex-col",
    "md:flex-row",
    "-mx-2",
])%}

{% set firstClasses = firstClasses|default([
    "w-full",
    "md:w-1/2",
    "lg:w-1/3",
    "m-2"
]) %}

{% set secondClasses = secondClasses|default([
    "w-full",
    "md:w-1/2",
    "lg:w-1/3",
    "m-2"
]) %}

{% set thirdClasses = thirdClasses|default([
    "w-full",
    "lg:w-1/3",
    "m-2"
]) %}

<section class="{{ wrapperClasses|join(' ') }}">
    <div class="{{ firstClasses|join(' ') }}">
        {% block first %}
            {{ firstContent }}
        {% endblock %}
    </div>
    <div class="{{ secondClasses|join(' ') }}">
        {% block second %}
            {{ secondContent }}
        {% endblock %}
    </div>
    <div class="{{ thirdClasses|join(' ') }}">
        {% block third %}
            {{ thirdContent }}
        {% endblock %}
    </div>
</section>